.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.folder-list {
    border: 1px solid #eef2f7;
    border-radius: 4px;
    list-style: none;
    padding-left: 0;
}

.folder-item {
    border-bottom: 1px solid #eef2f7;
    padding: 8px 0;
    list-style-type: none;
}

.folder-item:last-child {
    border-bottom: none;
}

.folder-item .side-nav-link {
    padding: 8px 16px;
    display: flex !important;
    align-items: center;
    width: 100%;
}

.folder-item .side-nav-link:hover {
    background-color: #f8f9fa;
}

.folder-item .side-nav-link.active {
    background-color: #eef2f7;
    color: #727cf5;
}

.folder-item i {
    font-size: 1.2rem;
    width: 24px;
    text-align: center;
    margin-right: 8px;
}

.folder-item span {
    text-align: left;
    flex: 1;
}

.breadcrumb-item.active {
    color: #6c757d;
    pointer-events: none;
}

.breadcrumb-item a {
    color: #727cf5;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.show-calendar {
    z-index: 9999 !important;
}

.select2-selection__choice {
    color: #323335 !important;
    background: #f4c58c !important;
}
.form-check-input:checked {
    background-color: #6ebde8 !important;
    border-color: #a6a9de !important;
}