.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 確保在所有元素之上 */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
}

.hidden {
    display: none; /* 隱藏模態框 */
}

#closeModal {
    margin-left: 10px;
}

.upload-progress-container {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
}

.upload-progress-bar {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #2196f3;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
}

#file-previews {
    max-height: 300px;
    overflow-y: auto;
}

.body.no-scroll {
    overflow: hidden;
}

